{%extends 'master.html'%}
    {%block content%}
    {% load static %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Shop Category page</h1>
					<nav class="d-flex align-items-center">
						<a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="/category"> Fashion Category </a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head">Browse Categories</div>
						<ul class="main-categories">
							<li class="main-nav-list">
								{% for b in total %}
								<a href="?category={{b.brand}}" >
										<span class="">
											{% for k, v in b.items %}
												({{v}})
											{% endfor %}
										</span>
								</a>
								<br>
								{% endfor %}	
							</li>
						</ul>
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						<!-- single product -->
						{% for brand in brands %}
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<a href="{{brand.get_absolute_url}}" name="s"><img style="width:200px; height:300px;text-align:center; vertical-align:middle" class="img-fluid" src="{{brand.imageURL}}" alt=""></a>
								<div class="product-details">
									<h6><a href="{{brand.get_absolute_url}}">{{brand.name}}</a></h6>
									<div class="price">
										<p>{{brand.get_category_display}}</p>
										<h6>Rs. {{brand.price|floatformat:2}}</h6>
									</div>
									<div class="prd-bottom">

										<a data-product={{brand.id}} href="{{brand.get_add_to_cart_url}}" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">add to bag</p>
										</a>

									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						<!-- single product -->
						
					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>

	<!-- Start related-product Area -->
	<section class="brand-area section_gap">
		<div class="container">
			<div class="row">
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/1.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/2.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/3.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/4.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/5.png" alt="">
				</a>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->

	{%endblock%}