{%extends 'master.html'%}
    {%block content%}
    {% load static %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Confirmation</h1>
					<nav class="d-flex align-items-center">
						<a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="/confirmation">Confirmation</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container">
			<h3 class="title_confirmation">{{failed}}{{msg}}</h3>
			<div class="row justify-content-center">
				<p>
				{% for o in oositem %}
					{% for a in o %}
						---> &nbsp&nbsp &nbsp &nbsp  {{a.name}}<br><br>
					{% endfor %}
				{% endfor %}
			</p>
			</div>
			<br>
			<br>
			<br>
			<br>
			<div class="row order_d_inner">
					<div class="col-lg-4">
						
						<div class="details_item">
							<h4>Order Info</h4>
							<ul class="list">
								<li><a href="#"><span>Date</span> : {{order.ordered_date}}</a></li>
								<li><a href="#"><span>Total</span> : {{order.get_cart_total}}</a></li>
								<li><a href="#"><span>Payment method</span> : Cash on delivery</a></li>
							</ul>
						</div>
					</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Billing Address</h4>
						<ul class="list">
							<li><a href="#"><span>Address 1</span> : {{address.address1}}</a></li>
							<li><a href="#"><span>Address 2</span> : {{address.address2}}</a></li>
							<li><a href="#"><span>City</span> : {{address.city}}</a></li>
							<li><a href="#"><span>Country</span> : {{address.country}}</a></li>
							<li><a href="#"><span>Postcode </span> : {{address.zipcode}}</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Shipping Address</h4>
						<ul class="list">
							<li><a href="#"><span>Address 1</span> : {{address.address1}}</a></li>
							<li><a href="#"><span>Address 2</span> : {{address.address2}}</a></li>
							<li><a href="#"><span>City</span> : {{address.city}}</a></li>
							<li><a href="#"><span>Country</span> : {{address.country}}</a></li>
							<li><a href="#"><span>Postcode </span> : {{address.zipcode}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody>
							{% for i in items %}
							<tr>
								<td>
									<p>{{i.item.name}}</p>
								</td>
								<td>
									<h5>x {{i.quantity}}</h5>
								</td>
								<td>
									<p>Rs. {{i.get_total}}</p>
								</td>
							</tr>
							{% endfor %}
							<tr>
								<td>
									<h4>Subtotal</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>Rs. {{order.get_cart_total}} (18% GST included)</p>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Shipping</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>Free</p>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Total</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>Rs. {{order.get_cart_total}}</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	<!--================End Order Details Area =================-->

	{%endblock%}